[submodule "core/MarketplaceCore"]
	path = core/MarketplaceCore
	url = git@github.com:IUNO-TDM/MarketplaceCore.git
[submodule "jms/JuiceMachineService"]
	path = jms/JuiceMachineService
	url = git@github.com:IUNO-TDM/JuiceMachineService.git
[submodule "jmw/JuiceMarketplaceWebsite"]
	path = jmw/JuiceMarketplaceWebsite
	url = git@github.com:IUNO-TDM/JuiceMarketplaceWebsite.git
[submodule "auth/OAuth2Server"]
	path = auth/OAuth2Server
	url = git@github.com:IUNO-TDM/OAuth2Server.git
